table
{
    width: 700px;
    height: 700px;
}
body{
    display: block;
    
}

td
{
    position: relative;
    
}

img
{
    position: absolute;
    width: 50px;
    height: 30px;
    top: 20px;
    left: 5px;
}

.Gatsu
{
    width: 70px;
    height: 65px;
    top: 2px;
    left: -1px;
}

input
{
    width: 200px;
    height: 25px;
}


.container
{
    background-image: url(./imagenes/61132-The-Legend-Of-Zelda-Breath-Of-The-Wild-HD-Wallpaper.jpg);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "logueo"
                         "botonJug";
    justify-content: center;
    justify-items: center;
    height: 500px;

}

.form-container
{
    grid-area: logueo;
}

#botonJugar
{
    margin-left: 40%;
    border-radius: 12px;
    width: 500px;
    height: 200px;
}

#DIV1
{
    margin-top: 35px;
    display: grid;
    justify-content: center;
    justify-items: center;
}



#divMayor
{
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "div1" "div2";
}

#DIV1
{
    grid-area: "div1";
}

#DIV2
{
    grid-area: "div2";
}



.espacio3D {
    width: 300px;
    height: 300px;
    margin: 3em auto 0 auto;
    position: relative;
    perspective-origin: center -50%;
    perspective: 500px;
    transform: scale(0.75);
  }
  
  .cubo3D {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    animation: girar 3000ms;
  }
  .dado-animado {
    animation-name: girar;
  }
  
  .base {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translateX(75px) translateY(75px) rotateX(90deg) translateZ(-200px);
  }
  
  .cara {
    position: absolute;
    width: 298px;
    height: 298px;
    
    border: 1px solid blue;
    color: #08f;
    font-size: 3em;
    text-align: center;
    line-height: 298px;
    box-shadow: 0px 0px 5px blue;
  }
  
  .cara1 {
    
      background-size: cover;
      transform: translateZ(150px);
  }
  
  .cara2 {
      background-image: url(./imagenes/2.jpg);
      background-size: cover;
      transform: rotateY(180deg) translateZ(150px);
  }
  
  .cara3 {
      background-image: url(/imagenes/3.jpg);
      background-size: cover;
      transform: rotateY(-90deg) translateZ(150px);
  }
  
  .cara4 {
      background-image: url(/imagenes/4.png);
      background-size: cover;
      transform: rotateY(90deg) translateZ(150px);
  }
  
  .cara5 {
      background-image: url(/imagenes/5.jpg);
      background-size: cover;
      transform: rotateX(-90deg) translateZ(150px);
  }
  
  .cara6 { 
      background-image: url(/imagenes/6.jpg);
      background-size: cover;
      transform: rotateX(90deg) translateZ(150px);
  }
  
  @keyframes girar {
    0% {transform: translateZ(-150px) rotateY(360deg) rotateX(-360deg);}
    25%{transform: translateZ(-150px) rotateY(0deg) rotateX(0deg);}
    50%{transform: translateZ(-150px) rotateY(-360deg) rotateX(360deg);}
    75%{transform: translateZ(-150px) rotateY(0deg) rotateX(0deg);}
    100% {transform: translateZ(-150px) rotateY(0deg) rotateX(360deg);}
  }

  
