@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

*
{
    font-family: 'The Wild Breath of Zelda', sans-serif;

}

table
{
    width: 700px;
    height: 700px;
}
body{
    display: block;
    
}

button
{
    font-size:x-large;
    background-color: darkolivegreen;
}

td
{
    position: relative;
    
}

img
{
    position: absolute;
    width: 50px;
    height: 30px;
    top: 20px;
    left: 5px;
}

.Gatsu
{
    width: 70px;
    height: 65px;
    top: 2px;
    left: -1px;
}

input
{
    width: 200px;
    height: 25px;
}


.container
{
    font-size:x-large;
    background-image: url(./imagenes/61132-The-Legend-Of-Zelda-Breath-Of-The-Wild-HD-Wallpaper.jpg);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "logueo"
                         "botonJug";
    justify-content: center;
    justify-items: center;
    height: 500px;
}

.form-container
{
    grid-area: logueo;
    
}

#botonJugar
{
    font-size:x-large;
    background-color: darkolivegreen;
    margin-left: 37%;
    border-radius: 12px;
    width: 500px;
    height: 200px;
}

#DIV1
{
    margin-top: 35px;
    display: grid;
    justify-content: center;
    justify-items: center;
}



#divMayor
{
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "div1" "div2";
}

#DIV1
{
    grid-area: "div1";
}

#DIV2
{
    grid-area: "div2";
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 100%);
    grid-template-areas: "dado"
                         "cantidad"
                         "extra"
                         "tirar";
    justify-content: center;
    justify-items: center;
    
}

#tiradasRealizadas
{
    background-color:darkslategrey;
    grid-area: "cantidad";
    text-align: center;
    margin-top: 50px;
    width: 1000px;
    height: 50px;
    
    color:rgb(255, 196, 0);
}

#botonDado
{
    font-size:x-large;
    background-color:darkolivegreen;
    grid-area: "tirar";
    width: 500px;
    height: 100px;
}

#tiradaExtra
{
    font-size:x-large;
    background-color:darkolivegreen;
    grid-area: "extra";
    width: 350px;
    height: 75px;
}



.Space3D {
    grid-area: "dado";
    width: 300px;
    height: 300px;
    margin: 3em auto 0 auto;
    position: relative;
    perspective-origin: center -50%;
    perspective: 500px;
    transform: scale(0.75);
  }


  
  .dice {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    animation: girar 500ms;
  }
  .dado-animado {
    animation-name: girar;
  }
  
  .base {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translateX(75px) translateY(75px) rotateX(90deg) translateZ(-200px);
  }
  
  .cara {
    position: absolute;
    width: 298px;
    height: 298px;
    
    border: 5px solid rgb(15, 15, 15);
    color: #08f;
    font-size: 3em;
    text-align: center;
    line-height: 298px;
    box-shadow: 0px 0px 5px black;
  }
  
  .cara1 {
      
      background-size: cover;
      transform: translateZ(150px);
  }
  
  .cara2 {
      background-image: url(./imagenes/2.jpg);
      background-size: cover;
      transform: rotateY(180deg) translateZ(150px);
  }
  
  .cara3 {
      background-image: url(/imagenes/3.jpg);
      background-size: cover;
      transform: rotateY(-90deg) translateZ(150px);
  }
  
  .cara4 {
      background-image: url(/imagenes/4.jpg);
      background-size: cover;
      transform: rotateY(90deg) translateZ(150px);
  }
  
  .cara5 {
      background-image: url(/imagenes/5.jpg);
      background-size: cover;
      transform: rotateX(-90deg) translateZ(150px);
  }
  
  .cara6 { 
      background-image: url(/imagenes/6.jpg);
      background-size: cover;
      transform: rotateX(90deg) translateZ(150px);
  }
  
  @keyframes girar {
    0% {transform: translateZ(-150px) rotateY(360deg) rotateX(-360deg);}
    25%{transform: translateZ(-150px) rotateY(0deg) rotateX(0deg);}
    50%{transform: translateZ(-150px) rotateY(-360deg) rotateX(360deg);}
    75%{transform: translateZ(-150px) rotateY(0deg) rotateX(0deg);}
    100% {transform: translateZ(-150px) rotateY(0deg) rotateX(360deg);}
  }


  #divTexto
  {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    height: 250px;
    width: 825px;
    text-align: center;
  }

  #texto
  {
    position: relative;
    padding: 100px;
    bottom: 20px;
  }

  #textoTiradas
  {
    position: relative;
    bottom: 100px;
  }

  #botonVolverJugar
  {
    
    width: 500px;
    height: 100px;
    font-size:x-large;
    background-color:darkolivegreen;
  }

  
