table
{
    width: 700px;
    height: 700px;
}
body{
    display: block;
    
}

td
{
    position: relative;
    
}

img
{
    position: absolute;
    width: 70px;
    height: 65px;
    top: 2px;
    left: -1px;
}